	<style>
		.virtualRepeatdemoInfiniteScroll #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px; }
.virtualRepeatdemoInfiniteScroll .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
.virtualRepeatdemoInfiniteScroll md-content {
  margin: 16px; }
.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey; }
.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }
		
	</style>
	
	<div ng-controller="homeCtrl as home">
		<h1 ng-bind="home.welcomeText"></h1>
		
			 
		<md-list>
			 <md-virtual-repeat-container id="vertical-container">
				<md-list-item class="md-2-line" ng-repeat="item in movies">
					<img class="md-avatar" ng-src="{{item.Thumb}}" />
					<div class="md-list-item-text">
						<h3>{{item.Title}}</h3>
						<p>{{item.Description}}</p>
						
					</div>
				</md-list-item>
			</md-virtual-repeat-container>
		</md-list>
		
		{{home.movies}}
		
	</div>
