	<div ng-controller="homeCtrl as home"  >
		<h2 layout-padding ng-bind="home.welcomeText"></h2>
		<div class="videoList">
			 <md-virtual-repeat-container id="vertical-container">
					<md-list  > 
							<md-list-item flex 
							class="md-2-line repeated-item md-raised md-warn" 
							md-on-demand  
							md-virtual-repeat="item in home.infiniteItems" 
							 ng-click="home.showDialog($event,item)"
							>
								
								<img class="md-avatar " ng-src="{{item.Thumb}}" />
								<div class="md-list-item-text">
									<h3>{{item.Title}}</h3>
									<p ng-bind-html="item.Description" ></p>
									
								</div>
							</md-list-item> 
					</md-list>
			</md-virtual-repeat-container>
		</div>
		
		
	</div>
